<!-- 
Program Name: styles.css
Author: Logan Caudillo
Date created: 2/24/2026
Date last edited:
Version: 1.0
Description: External CSS file for the patient file html to refer to for various styles used 
-->

#Far-Stretch-of-Azure {
	background-color: Azure;
}
.font-A {
	font-style: Roboto;
}
.color {
	color: IndianRed
}
h1 {
	background-color: LightGoldenRodYellow;
	color: Crimson;
	font-family: Georgia;
	text-align: center;
	float: left;
}



